body {
	text-align: center;
}
.XOs{
  margin-top: 5vw;
  display: inline-block;
}
.square{
	height:12vw;
	width:12vw;
	margin:5px;
	float:left;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.square:nth-child(3n+1){
	clear:left;
}
.clickable{
	background-color:#999;
	cursor:pointer;
}
.x{
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
	background-color: #333;
}
.o{
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
	background-color: #DDD;
}