<!DOCTYPE html>
<html>
    <head>
        <title> Meow </title>
        <script src="/static/packages/web_components/platform.js"></script>
        <script src="/static/packages/web_components/dart_support.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/the.css"/>
        <link rel="import" href="/static/packages/paper_elements/paper_shadow.html">
        <link rel="import" href="/static/board_square.html">
    </head>
    <body>
        <div class="XOs" data-game="{{.Id}}">
            <board-square data-id="1" z="0" class="square clickable"></board-square>
            <board-square data-id="2" z="0" class="square clickable"></board-square>
            <board-square data-id="3" z="0" class="square clickable"></board-square>
            <board-square data-id="4" z="0" class="square clickable"></board-square>
            <board-square data-id="5" z="0" class="square clickable"></board-square>
            <board-square data-id="6" z="0" class="square clickable"></board-square>
            <board-square data-id="7" z="0" class="square clickable"></board-square>
            <board-square data-id="8" z="0" class="square clickable"></board-square>
            <board-square data-id="9" z="0" class="square clickable"></board-square>
        </div>
        <script  type="text/javascript" src="/static/the.js"></script>
    </body>
</html>